body {
  background:#0f172a;
  font-family:Arial, sans-serif;
  color:#fff;
}

.container {
  max-width:420px;
  margin:80px auto;
  padding:25px;
  background:#020617;
  border-radius:12px;
  box-shadow:0 0 30px rgba(0,0,0,.6);
  text-align:center;
}

h1 {
  color:#38bdf8;
}

input, select {
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}

button {
  background:#38bdf8;
  color:#000;
  border:none;
  padding:12px;
  width:100%;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

button:hover {
  background:#0ea5e9;
}

#result {
  margin-top:20px;
  text-align:left;
  white-space:pre-line;
}
